---
layout: default
title: Kelexer [About Me]
description: About Me
---

<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/aboutme.css">
</head>
<html>
<body>
    <!-- About me cards will be automatically filled -->
    {% for section in site.data.aboutmecards %}
    {% assign cards = section[1] %}
    <div class="section">
        <div class="sectionHeader">
            <div class="sectionTitle"><p2>{{ section[0] }}</p2></div>
            <div class="sectionExpand"><button onclick="sectionExpand('{{ section[0] }}')">&gt;</button></div>
        </div>
        <div class="cardSection">
            <div class="cardContainer allCards">
                {% for card in cards %}
                <div class="card">
                    <div class="cardTitle"><h2>{{ card.name }}</h2></div>
                    <img src="{{ card.image }}">
                    <div class="cardBlurb"><p>{{ card.blurb }}</p></div>
                </div>
                {% endfor %}
            </div>
            <div class="cardContainer persistentCards"></div>
            <div class="cardContainer toggleableCards" data-section="{{ section[0] }}"></div>
        </div>
    </div>
    {% endfor %}
</body>
<script src="js/aboutme.js"></script>
</html>