html {
    background-color: black;
}

* {
    color: white;
    font-family: 'Poppins', sans-serif;
}

hr {
    margin: 2rem;
}

.filterBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-bottom: 0.5rem;
    font-size: 16px;
}

#results {
    font-size: 12px;
    padding-right: 2rem;
    align-self: end;
}

.toolBar {
    display: flex;
    flex-direction: column;
}

#filterButton {
    background-color: #20232e;
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    font-size: inherit;
    text-align: left;
    width: 160px;
    transition: background-color 0.2s ease;
}

#filterButton:hover {
    background-color: #a0bbda;
}

#search {
    box-sizing: border-box;
    background-color: #20232e;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid transparent;
    font-size: inherit;
    width: 160px;
    padding: 10px;
    transition: background-color 0.2s ease, border-bottom-color 0.2s ease;
}

#search:hover {
    border-bottom-color: #a0bbda;
}

#search:focus {
    border-bottom-color: #a0bbda;
    outline: none;
    background-color: #a0bbda;
}

.postContainer {
    margin-left: 17rem;
    margin-right: 17rem;
    align-items: center;
}

.postList {
    list-style: none;
    padding: 0;
}

.postTags {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.postTopBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.postTags {
    display: flex;
    flex-direction: row;
}

.postTags h3 {
    padding-left: 7px;
}

.postTopBar h3 {
    margin-bottom: 3px;
    font-size: 13px;
    font-weight: 400;
}

.postContentContainer {
    display: flex;
    flex-direction: row;
    background-color: darkcyan;
    border: 4px solid #20232e;
    border-radius: 5px;
}

.postContent {
    min-height: 20rem;
    position: relative;
    overflow: hidden;
    width: 40%;
}

.postContentImage {
    width: 60%;
    background-size: cover;
    background-position: end;
    position: relative;
}

.postContentImage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, darkcyan 100%);
    z-index: 1;
}

.postTitles {
    position: relative;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    z-index: 2;
}

.postTitle {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    text-decoration: underline;
}

.postSubtitle {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

.postExerpt {
    position: relative;
    margin-left: 2rem;
    margin-right: 2rem;
    z-index: 2;
}

.postExerpt p {
    margin-top: 0;
}