/* * { border: 1px solid red !important; } */

html, body, main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit; /* Inherit box-sizing from the html element */
}

p, ul {
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

h1, h2, h3 {
    font-family: 'Chakra Petch';
    color: aliceblue;
}

.Bio {
    margin-left: 2rem;
    margin-right: 2rem;
}

#heroSection {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 1px 0;
}

#animation-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* Biography Content */
#biography {
    z-index: 1;
    text-align: center;
    color: white;
}

#intro-text {
    font-weight: 800;
    font-size: 70px;
    margin: 0;
    padding-top: 25px;
    min-height: 210px;
}

#bio-text {
    margin: 0 5vw;
    line-height: 40px;
    font-size: 25px;
    color: #b1b1b1;
}

hr {
    margin: 5vh 8rem;
}

.ListSection {
    background-color: black;
    margin: 0;
    padding: 1px 0;
    padding-bottom: 35px;
}

.ListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.List {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.List li {
    margin-right: 2rem;
}

.ListText {
    text-align: center;
}

.InterestSeparator {
    background-color: black;
}

@media (max-width: 1200px) {
    .List {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .List {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .List {
        grid-template-columns: 1fr;
    }
    #intro-text {
        font-size: 50px;
    }
    #bio-text {
        font-size: 20px;
    }
}