<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A centralized hub for all things Kelexer">
    <meta name="keywords" content="Kelexer, Portfolio, Blog, Bio, Biography, Hub">
    <meta name="author" content="Kelexer">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
    <main>
        <header>
            {% include navbar.html %}
        </header>
        <body>
            {{ content }}
        </body>
    </main>
</html>