<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title | default: site.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A centralized hub for all things Kelexer">
    <meta name="keywords" content="Kelexer, Portfolio, Blog, Bio, Biography, Hub">
    <meta name="author" content="Kelexer">
</head>
    <main>
        <header>
            {% include navbar.html %}
        </header>
        <body>
            {{ content }}
        </body>
    </main>
</html>