---
layout: default
---

<html>
    <head>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/post.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/cascadia-code@latest/index.css">
        <script src="{{ site.baseurl }}/js/post.js"></script>
    </head>
    <body>
        <div id="progressContainer">
            <div id="progressBar"></div>
        </div>
        <section id="content">
            <div id="info">
                <div id="titles">
                    <h1>{{ page.title }}</h1>
                    <h2>{{ page.subtitle }}</h2>
                </div>
                <h3>Posted on {{ page.date | date: "%B %d, %Y" }}</h3>
            </div>
            <hr>
            <article>
                {{ content }}
            </article>
            <hr>
            <div id="scrollTopContainer">
                <button id="scrollTopButton" onclick="scrollToTop()">
                    Go to Start
                </button>
            </div>
        </section>
    </body>
</html>